aside {
  height: 100vh;
  margin: 5px;
  background-color: var(--bg-main);
  border-radius: 2px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
#Aside_Border {
  padding: 0 25px;
}
#Hero_Section {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-items: center;
  background-color: var(--bg-card);
}
#Img_Me > img {
  width: 100px;
  border-radius: 50%;
}
#Hero_Section > p {
  font-family: var(--font-heading);
  color: var(--text-primary);
  font-weight: var(--font-weight-headings);
  font-size: 24px;
}
#Hero_Section > p:last-child {
  font-family: var(--font-body);
  color: var(--text-secondary);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body);
  text-align: center;
}
#Hero_Info1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--bg-card);
}
#Hero_Info1 > ul {
  list-style-type: none;
  padding: 2% 0;
  margin: 0;
  color: var(--text-primary);
}
#Hero_Info1 > ul:last-child {
  color: var(--text-secondary);
}
#Hero_Info1 > ul > li {
  padding: 5px 0;
}
#Hero_Info2 {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 2px solid var(--bg-card);
}
.Language {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.Language > p {
  color: var(--text-primary);
}
.Circle {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.Circle::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: conic-gradient(
    var(--accent-color) calc(var(--p) * 1%),
    transparent 0
  );
  -webkit-mask: radial-gradient(circle, transparent 31px, black 32px);
  mask: radial-gradient(circle, transparent 31px, black 32px);
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}
.Circle:hover {
  transform: scale(1.1);
}
.Circle:hover::before {
  transform: scale(1.1);
  filter: drop-shadow(0 0 15px var(--accent-color));
}
.Circle > p {
  z-index: 1;
  pointer-events: none;
  transition:
    transform 0.3s ease,
    text-shadow 0.3s ease;
}
.Circle:hover > p {
  transform: scale(1.1);
  text-shadow: 0 0 10px var(--text-secondary);
}
#Tech_Stack {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}
.Stack {
  display: flex;
  justify-content: space-between;
  color: var(--text-primary);
}
.Stack > p:last-child {
  color: var(--text-secondary);
}
.Progress_Bar_Bg {
  width: 100%;
  height: 6px;
  background-color: var(--bg-body);
}
.Progress_Bar {
  height: 100%;
  background-color: var(--accent-color);
}
#Aside_Contact {
  display: flex;
  background-color: var(--bg-card);
  margin-top: auto;
}
#Aside_Contact > span:hover {
  background-color: var(--accent-color);
  transition: 0.4s ease;
}
#Aside_Contact > span {
  display: flex;
  flex: 1;
  cursor: pointer;
  justify-content: center;
  padding: 30px;
}
