#Sidebar_Wrapper {
  display: grid;
  margin: 13px 13px 13px 0;
  min-height: 100%;
}
#Nav_Bar {
  width: 100%;
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  visibility: visible;
  transition:
    transform 0.4s ease-in-out,
    visibility 0s linear 0s;
  overflow-x: hidden;
}
#Open_Nav_Bar,
#Nav_Bar {
  grid-area: 1 / 1;
}
#Nav_Bar.Hide {
  transform: translateX(100%);
  visibility: hidden;
  transition:
    transform 0.4s ease-in-out,
    visibility 0s linear 0.4s;
}
#Open_Nav_Bar {
  display: flex;
  justify-content: center;
  padding: 40px;
  height: max-content;
  width: max-content;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.4s ease,
    visibility 0.4s;
}
#Open_Nav_Bar.Hide_Icon {
  opacity: 0;
  visibility: hidden;
}
#Close_Nav_Bar {
  display: flex;
  justify-content: center;
}
#Open_Nav_Bar > span:hover {
  color: var(--accent-color);
  transition: 0.4s ease;
}
#Close_Nav_Bar:hover {
  transition: 0.4s ease;
}
#Menu_Selector {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#Close_Nav_Bar > span,
#Menu_Selector > span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  cursor: pointer;
  transition: 0.4s ease;
  flex: 1;
}
#Menu_Selector > span {
  writing-mode: vertical-rl;
  white-space: nowrap;
}

#Menu_Selector > span:hover {
  background-color: var(--accent-color);
  color: var(--text-primary);
}
#Nav_Divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  cursor: default;
  color: var(--text-primary);
}
#Nav_Divider::before,
#Nav_Divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--accent-color);
}
#Nav_Divider > span {
  writing-mode: horizontal-tb;
}
#Toggle_Apps_Text {
  cursor: pointer;
}
#Toggle_Apps_Text:hover {
  color: var(--accent-color);
}
#Toggle_Apps {
  cursor: pointer;
  transition: transform 0.4s ease;
  font-size: var(--font-size-others);
}
.Rotate_Arrow {
  transform: rotate(180deg) !important;
}
#Apps_List {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
}
#Apps_List.Show_Apps {
  max-height: 300px;
  opacity: 1;
}
#Apps_List > span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  cursor: pointer;
  transition: 0.4s ease;
  flex: 1;
  writing-mode: vertical-rl;
  white-space: nowrap;
}
#Apps_List > span:hover {
  background-color: var(--accent-color);
  color: var(--text-primary);
}
@media (max-width: 1024px) {
  #Sidebar_Wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 50px;
    margin: 0;
    z-index: 2;
  }
  #Nav_Bar {
    flex-direction: row;
    justify-content: flex-start;
    overflow-y: hidden;
  }
  #Nav_Bar.Hide {
    transform: translateY(-100%);
  }
  #Open_Nav_Bar {
    display: flex;
    justify-content: flex-start;
    padding: 30px;
  }
  #Close_Nav_Bar {
    align-items: center;
    transform: rotate(90deg);
  }
  #Menu_Selector {
    flex-direction: row;
  }
  #Close_Nav_Bar > span,
  #Menu_Selector > span {
    writing-mode: horizontal-tb;
    padding: 20px;
    width: 100%;
  }
  #Nav_Divider {
    flex-direction: row;
    gap: 5px;
  }
  #Nav_Divider > span {
    writing-mode: vertical-lr;
  }
  #Nav_Divider::before,
  #Nav_Divider::after {
    border-bottom: none;
  }
  #Toggle_Apps {
    margin-left: 0;
    transform: rotate(-90deg);
  }
  .Rotate_Arrow {
    transform: rotate(90deg) !important;
  }
  #Apps_List {
    flex-direction: row;
    max-height: none;
    max-width: 0;
    transition:
      max-width 0.4s ease,
      opacity 0.4s ease;
  }
  #Apps_List.Show_Apps {
    max-width: 500px;
  }
  #Apps_List > span {
    flex: none;
    writing-mode: horizontal-tb;
    padding: 20px;
    white-space: nowrap;
  }
  #Nav_Bar::-webkit-scrollbar {
    display: inline;
    height: 4px;
  }
  #Nav_Bar::-webkit-scrollbar-track {
    background: transparent;
  }
  #Nav_Bar::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 10px;
  }
  #Apps_List {
    flex-shrink: 0;
  }
  .Hide_Mobile_Item_Animation {
    opacity: 0;
    visibility: hidden;
  }
  .Hide_Mobile_Item{
    display: none !important;
  }
}
@media (max-width: 349px) {
  #Close_Nav_Bar > span,
  #Menu_Selector > span {
    padding: 15px;
  }
}
